<!-- Start::Nav Bar -->
<ul id="navDropdown" class="dropdown-content">
    <li><a href="/chatroom">Chat Room</a></li>
</ul>
<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="/" class="brand-logo"><i class="material-icons dp48">code</i>rahulSamanta</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/contact">Contact Me</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="navDropdown">Project<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<!-- End::Nav Bar -->
