<!-- Start::Main content -->
<div class="section white">
    <div class="row container">
        <div class="col s4">
            <img src="images/Rahul.png" />
        </div>
        <div class="col s8">
            <h2 class="header">Welcome. Namaste. Wominjeka.</h2>
            <p class="grey-text text-darken-3 lighten-3">Hey there, welcome to my portfolio website. My name is Rahul
                Samanta. I'm a <a class="tooltipped" data-position="bottom"
                    data-tooltip="A buzzword to define a software developer who knows how to develop, build and deploy a complex web application from scratch."><i>full
                        stack developer</i></a>. This portfolio website is a side project that I have developed as a
                part of the
                Software Engineering Unit at Deakin University.</p>
            <p class="grey-text text-darken-3 lighten-3"> The website is built using Node.js backend and Materialize
                CSS, HTML5 and JavaScript frontend. </p>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://cdn.pixabay.com/photo/2015/12/09/01/02/mandalas-1084082_1280.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Why does this page exist?</h2>
        <p class="grey-text text-darken-3 lighten-3">This page has a listing of some projects in an organised and user-friendly format.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://cdn.pixabay.com/photo/2019/04/26/17/47/color-4158152_1280.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Why is this page so colourful?</h2>
        <p class="grey-text text-darken-3 lighten-3">Simple! Without colours, our world would be so dull. Have you ever thought about living in a black
            and white world? 😬
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://cdn.pixabay.com/photo/2016/12/15/20/21/texture-1909992_1280.jpg"></div>
</div>
<!-- End::Main content -->